<div id="container" ng-controller='emailController'>
	


	<div id="content" class='row'>
		<div id="left">
			<ul>
				<li>
					<a href="#about_me"><img class='circle' src="./static/images/andrew2.jpg" height='85%' width='85%' alt='Picture'></a>
				</li>
				<li><a class='link' href="#experience">Experience</a> </li>
				<li><a class='link' href="#projects">Projects</a>  </li>
				<li><a class='link' href="#contact">Contact</a>	</li>
			</ul>

		</div>	


		<div id="right">
			<div class="bar">
				<header>
					<div id="about_me" class='section scrollspy'>
						<div id="head">
							<h1>Andrew Yeung</h1>
							<hr>
						</div>
						<h4>"Full stack developer looking to add creative solutions to software development problems"</h4>
						<div class="row">
							<div class="col s6 offset-s3">
								<p id='about'>I am a very enthusiastic full stack developer currently looking for new job opportunities. Avid fan of basketball and watching amazing movies. I develop in MEAN and Python full stacks using mongoDB and mySQL databases.
								</p>	
							</div>
						</div>
					</div>	

				</header>

				
			</div>
			
			<div class="bar">
				<div class = 'experience'>
					<div id="experience" class= 'section scrollspy'> 
					<h3>Professional Experience</h3> 
					<div class='row'>
						<div class='col s4'>
							<h5>FMFA Inc. </h5>
							<p>At FMFA inc I am working on the Scrum developer team as a full stack developer. We are working with the Silicon Valley Faces organization to build them a web/mobile application that will assist with maintaining contact with alumni. I am responsible for CRUD functionality (front and back end) as well as Amazon s3 integration(front and back end).</p>
						</div>
						<div class='col s4'>
							<h5>Stanford Health Care </h5>
							<p>At Stanford Health Care I worked in the Surgical Pathology department as a lab assistant. I was directly involved with preparing patient biopsies that led to succesful diagnosis of cancer in patients.</p>
						</div>
						<div class='col s4'>
							<h5>Spectra Laboratories </h5>
							<p>At Spectra Laboratories I worked in the Trace Elements department as a technician. My responsibilities included training MLT interns and new technicians on the SOP's of the lab as well as analyzing patient samples such as blood, water, and dialysate. 
							 </p>
						</div>
					</div>			
				</div>

				</div>

				
			</div>

			<div class="bar">
				<div class="projects">
					<div id="projects" class='section scrollspy'>
						<h3>Projects</h3>
						<div class="row">
							<div id="photo_dojo">
								<img src="./static/images/svf.png" alt='Photo Dojo'  class='col s5'>

								<div class='col s6'> 
									<h6>Silicon Valley Faces</h6>
									<p>At FMFA Inc. we are currently building Silicon Valley Faces a web/mobile application to keep track of and keep in touch with their 9,000 alumni. This application will also allow the alumni to keep in touch with each other.</p>
									<a href="https://github.com/silliconvalleyfaces/dashboard/tree/development" target="_blank">Github</a> |
									<a href="http://svf.andrewhyeung.com" target="_blank">Click to see!</a>
								</div>
								
				 			</div>
				 		</div>
						<div class="row">
							<div id="photo_dojo">
								<img src="./static/images/photodojo.png" alt='Photo Dojo'  class='col s5'>

								<div class='col s6'> 
									<h6>Photo Dojo</h6>
									<p>Photo Dojo is a web application built in Python and mySQL. Uses the flask framework and stripe api to handle financial transactions. Website serves as an ecommerce site for photographers to sell their photos. Anyone can browse through the pictures and logged in users can make comments on photos.</p>
									<a href="https://github.com/andrewhyeung/tennisDraws" target="_blank">Github</a>
								</div>
								
				 			</div>
				 		</div>
				 		<div class="row">
				 			<div id='tennis_draws' >
								<img src="./static/images/tennisDraws.jpg" alt='Tennis Draws' width='100%' class='col s5'>
								<div class="col s6">
									<h6>Tennis Draws</h6>
									<p>Tennis draws is a web application built in the MEAN stack. Website serves as a means to create/update draws for tennis tournaments. </p>
									<a href="https://github.com/andrewhyeung/tennisDraws" target="_blank">Github</a>	
								</div>
							</div>	
				 		</div>		
				 		<div class="row">
				 			<div id="before30">
								<img src="./static/images/30.png" alt='Tennis Draws'  width='100%' class ='col s5'>
								<div class="col s6">
									<h6>Before 30</h6>
								
									<p>Before 30 is a simple application built in the MEAN stack that serves to illustrate some dreams and goals people under 30 might have.</p>
									<a href="https://github.com/andrewhyeung/before30" target='_blank'>Github</a>
								</div>
							</div>
				 		</div>
					</div>

				</div>
			</div>

			<div class="bar">
				<div class="contact">
					<div id="contact"  class='section scrollspy'>
						<h4 class='scrollspy'>Contact me</h4>
						<form ng-submit='submitForm()' enctype="text/plain">
							Your Name:<br>
							<input  id="first_name" type="text" ng-model = 'name' required><br>
							E-mail:<br>
							<input id='email' type="email" ng-model='email' required><br>
							Message:<br>
							<textarea id='textarea' class='input' ng-model='messages' required></textarea>
							<input class="btn waves-effect waves-brown" type='submit' value='Send Message'>
							<input class="btn waves-effect waves-brown" type="reset" value="Reset" >
						</form>
						<h5 ng-show="showForm == true" id='confirmation'>Message has been sent! Thank you. </h5>
						<h5>Or shoot me an email directly: andrewhyeung@gmail.com</h5>
						<a href="https://github.com/andrewhyeung" target="_blank">
							<img class='professional_link' src="./static/images/github.gif" alt='Github' width='60' height='60'>
						</a>
						<a href="./static/Andrew_Resume.pdf">
							<img src="./static/images/resume.png" alt='resume' width='60' height='60' class='professional_link'>
						</a>
						<a href="https://www.linkedin.com/in/andrewhyeung" target="_blank">
						<img class='professional_link' src="./static/images/in.png" alt='Linkedin' width='60' height='60'>
						</a>
						<footer>&copy; Copyright 2016 Andrew Yeung</footer>
					</div>



				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
	window.sr = ScrollReveal({reset: true});
	sr.reveal('.bar', {duration: 600});
	
	$(document).ready(function(){
		$('.scrollspy').scrollSpy();
		$('.carousel').carousel(); 
		$('.carousel.carousel-slider').carousel({full_width: true});

	})
        

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82775936-1', 'auto');
  ga('send', 'pageview');

</script>