body{
	text-align: center;	
	height: 100%;
}
#left{
	text-align: left;
	position: fixed; 
	height: 100%;
	width: 15%;
	background-color: black;
	opacity: 0.8;
	padding-left: 1%;
}

	#left a{
		font-size: 140%; 
		font-weight: 400;
		display: block;

		color: white;
	}

a{
	color:  #2f2f1e;
}
#right{
	position: relative;
	display: block;
	overflow: auto;
	margin-left: 15%;

}

.col.s5{
	text-align: left;
}
header{
	position: relative;
	background-size: cover;
	background-position: center;
	color: white;
	background-image: url('./images/header.jpg');
	padding: 10%;
	padding-bottom: 20%;
}
#about{
	text-align: left;
	margin-top: 10%;
}

#head{
	margin-bottom: 50px;
}
	#head h1{
		font-weight: 900;
	}


.projects{
	height: 100%;
	width: 100%;
	background-color: #DCDCDC;
	padding: 10%;
	padding-bottom: 20%; 
	padding-top: 20%;
}

.experience{
	height: 100%;
	width: 100%;
	padding: 10%;
	padding-bottom: 20%;
	padding-top: 20%
}
.col.s4{
		text-align: left;
	}
.col.s6 {
	text-align: left;
}

.contact{
	height: 100%; 
	width:75%;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 20%;
	padding-bottom: 10%;
}

#first_name {
	background-color: #D3D3D3;
	border: 2px solid grey;
}

#email {
	background-color: #D3D3D3;
	border: 2px solid grey;
}

#textarea {
	background-color: #D3D3D3;
	border: 2px solid grey;
}

.waves-effect.waves-brown{
	background-color: brown;
}

input, textarea{
	color: black;
}

textarea:focus, input:focus{
	color: brown;
}


#left ul li a.active {
	color: brown;
}

#confirmation {
	color: brown;
}









