body{
	text-align: center;	

	height: 100%;
}
#left{
	text-align: left;
	position: fixed; 
	height: 100%;
	width: 13%;
	background-color: black;
	opacity: 0.8;
	padding-left: 1%;
}

	#left a{
		font-size: 150%; 
		font-weight: 400;
		display: block;

		color: white;
	}

a{
	color:  #2f2f1e;
}
#right{

	width: 82%;
	position: relative;
	display: block;
	overflow: auto;
	margin-left: 200px;

}

.col.s5{
	text-align: left;
}

#about{
	text-align: left;
}

#head{
	margin-bottom: 50px;
}
	#head h1{
		font-weight: 900;
	}


#projects{
	margin-top: 200px;
	height: 100%;
	width: 100%;
}

#experience{
	margin-top: 200px;
	height: 100%;
	width: 100%;

}
.col.s4{
		text-align: left;
	}
.col.s6 {
	text-align: left;
}

#contact{
	height: 100%; 
	margin-top: 200px;
	width:75%;
	margin-left: auto; 
	margin-right: auto;
}

#first_name {
	background-color: #D3D3D3;
	border: 2px solid grey;
}

#email {
	background-color: #D3D3D3;
	border: 2px solid grey;
}

#textarea {
	background-color: #D3D3D3;
	border: 2px solid grey;
}

.waves-effect.waves-brown{
	background-color: brown;
}

input, textarea{
	color: black;
}

textarea:focus, input:focus{
	color: white;
}

footer{
	margin-bottom: 180px;
}
#left ul li a.active {
	color: brown;
}


